doctype html
html
    head
        title=name
        link(rel="stylesheet" type="text/css" href=style)
    body
        h1.title Witaj 
        h2 Podany login to: 
        p.login #{login}
        h2 Podane hasło to: 
        p.pass #{password}